.private {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 500ms ease-in-out;

}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infop {
    margin-top: 20px;
    font-size: 17px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}